@page "/Prioridad"
@page "/Prioridad/{PrioridadId:int}"
@inject PrioridadesBLL PrioridadesBLL
@using RegistroClientes.Models
@inject NotificationService notificationService

<EditForm Model="PrioridadId" OnValidSubmit="Guardar">
    <DataAnnotationsValidator />

    <div class="container">
        <div class="card shadow-lg">
            <div class="card-header">
                <h3>Registro de Prioridades</h3>
            </div>
            <div class="card-body">
                @*PrioridadId*@
                <div class="col-xs-12 col-sm-12 col-md-8 col-lg-6 col-xl-4">
                    <div class="input-group mb-3">
                        <InputNumber @bind-Value="Prioridad.PrioridadId" class="form-control" aria-describedby="buscarButton" />
                        <button @onclick="Buscar" class="btn btn-outline-primary" type="button" id="buscarButton">
                            <i class="oi oi-magnifying-glass" />
                        </button>
                    </div>
                </div>

                 @*PrioridadId*@
                <div class="mb-3">
                    <label class="form-label">PrioridadId</label>
                    <InputNumber @bind-Value="Prioridad.PrioridadId" class="form-control" />
                    <ValidationMessage For="@(() => Prioridad.PrioridadId)" />
                </div>
                @*DiasCompromiso*@
                <div class="mb-3">
                    <label class="form-label">DiasCompromiso</label>
                    <InputNumber @bind-Value="Prioridad.DiasCompromiso" class="form-control" />
                    <ValidationMessage For="@(() => Prioridad.DiasCompromiso)" />
                </div>
                @*Nombre*@
                <div class="mb-3">
                    <label class="form-label">Nombres</label>
                    <InputText @bind-Value="Prioridad.Descripcion" class="form-control" />
                    <ValidationMessage For="@(() => Prioridad.Descripcion)" />
                </div>
                

            </div>

            <div class="card-footer d-flex justify-content-center">
                <div class="btn-group" role="group">
                    <button type="button" class="btn btn-primary" @onclick="Nuevo"> <i class="oi oi-file" /> Nuevo</button>
                    <button type="submit" class="btn btn-success"> <i class="oi oi-document" /> Guardar</button>
                    <button type="button" class="btn btn-danger" @onclick="Eliminar"><i class="oi oi-trash" /> Eliminar</button>
                </div>
            </div>
        </div>
    </div>

</EditForm>

@code {
    [Parameter]
    public int PrioridadId { get; set; }
    public Prioridades Prioridad { get; set; } = new Prioridades();

    protected override void OnInitialized()
    {
        if (PrioridadId > 0)
        {
            this.Prioridad.PrioridadId = this.PrioridadId;
            Buscar();
        }
    }

    public void Guardar()
    {
        PrioridadesBLL.Guardar(Prioridad);
        Nuevo();
    }
    public void Nuevo()
    {
        this.Prioridad = new Prioridades();
    }

    public void Eliminar()
    {
        Buscar();
        PrioridadesBLL.Eliminar(this.Prioridad);
        Nuevo();
    }
    public void Buscar()
    {
        var PrioridadEncontrada = PrioridadesBLL.Buscar(Prioridad.PrioridadId);
        if (PrioridadEncontrada != null)
        {
            this.Prioridad = PrioridadEncontrada;
        }
    }

}